.RegistrationForm{
  padding-left: 263px;
  border: outset 8px;
  margin: 88px 252px;
  /* aspect-ratio: 4/7; */
  box-sizing: 0px;
  box-shadow: 1px 1px 14px 0px darkgray;
  box-sizing: 3px 4px;
  transform: scale(1.5);
  -webkit-transform-origin-x: center;
}

#submit{/* margin: 35px; *//* padding: 37px; */position: 44px;left: 12px;justify-content: center;}
input , select{border: outset;}
body{font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;padding-left: 92px;padding-right: 68px;background-color: #fafafa;}
h1{
    padding-left: 335px;
    margin-left: 151px;
    /* margin-top: 14px; */
    justify-content: center;
    padding-top: 10px;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    /* justify-content: center; */
}

option{
  /* border: outset; */
  /* padding: 70px; */
}
