<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <table border="2">
            <tr>
            <th>plateNumber</th>
            <th>modelNumber</th>
            <th>EngineNumber</th>
            <th>ChasesNumber</th>
            </tr>
            <tr th:each="s:${cinfo}">
                <td th:text="${s.plateNumber}"></td>
            </tr>
        </table>

</body>
</html>
