<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Registration System</title>
</head>
<body>
    
        <table border="2">
            Car Registration System
            
            <tr>
                <td>
            Owner Name:>>>>><input type="text"><br><br>
            CNIC Number:>>>>><input type="number"><br><br>
            Phone Number:>>>>><input type="number"><br><br>
            Local Address:>>>>><input type="text"><br><br>
            Car Plate Number:>>>>><input type="text"><br><br>
            Car Model Number:>>>>><input type="text"><br><br>
            Car Engine Number:>>>>><input type="text"><br><br>
            Car chases Number:>>>>><input type="text"><br><br>
            Car Color:>>>>><input type="text">
        </td>

        </tr>
        </table>
       

    
</body>
</html>