<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Registration System</title>
</head>
<body>
<form action="/CarInfo" >  
        <table border="2">
           <h1>Enter Car Information</h1>
            
            <tr>
                <td>
                    
        <label for="plateNumber">Car Plate Number:</label><br>
        <input type="text"  id="plateNumber" name="plateNumber" placeholder="Enter Plate Number"><br>

        <label for="modelNumber">Car Model Number:</label><br>
        <input type="text"  id="modelNumber" name="modelNumber" placeholder="Enter Model Number"><br>

        <label for="engineNumber">Car Engine Number:</label><br>
        <input type="text"  id="engineNumber" name="engineNumber" placeholder="Enter Engine Number"><br> 

        <label for="ChasesNumber">Car Chases Number:</label><br>
        <input type="text"  id="ChasesNumber" name="ChasesNumber" placeholder="Enter Chases Number"><br>

        <label for="color">Car Colour:</label><br>
        <input type="text"  id="color" name="color" placeholder="Enter Colour"><br>
          
         
        </td>

        </tr>
        
        </table>
        <input type="submit" value="Done">
    </form>  
        
    

    
</body>
</html>