<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Registration System</title>
</head>
<body>
    
        <table border="2">
            Car Registration System
            
            <tr>
                <td>
                    
        <label for="Name">Car Plate Number:</label><br>
        <input type="text"  id="name" placeholder="Enter Plate Number"><br>
        <label for="Name">Car Model Number:</label><br>
        <input type="text"  id="name" placeholder="Enter Model Number"><br>
        <label for="Name">Car Engine Number:</label><br>
        <input type="text"  id="name" placeholder="Enter Engine Number"><br> 
        <label for="Name">Car Chases Number:</label><br>
        <input type="text"  id="name" placeholder="Enter Chases Number"><br>
        <label for="Name">Car Colour:</label><br>
        <input type="text"  id="name" placeholder="Enter Colour"><br>
          
         
        </td>

        </tr>
        
        </table>
        <a href="home">Submit</a>

    
</body>
</html>