<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{HomePageStyle.css}">
</head>

<body>
    <div class="HomePageNavigationBar">
    <nav>      
    <a th:href="@{/Registrationform}" id="reg">Registration</a>
    <a th:href="@{/home}">home</a>  
    <a th:href="@{/SignInPage}">Sign In</a>  
    </nav>    
</div>
</body>
</html>