<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<body>
  <form th:action="Page" method="get" th:object="${SignKey}">
    <label for="email">Email:</label>
    <br>
    <input type="email" th:field="${SignKey.email}" id="email" required><br>
    <label for="password">Password:</label>
    <br>
    <input type="password" th:field="${SignKey.password}" id="password" required>
    <br>
    <input type="submit" value="SignIn">
  </form>
</body>
</html>