<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{HomePageStyle.css}">
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="charizard.png" type="image/x-icon">
</head>

<body>
    <div class="HomePageNavigationBar">
    <header>
        <nav class="Navigation">      
            <ul>
                <li><a th:href="@{/Registrationform}" id="reg">Registration</a> </li>
                <li> <a th:href="@{/home}">home</a> </li>
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a th:href="@{/car}">Vehicle Registration</a></li>
                <li><a th:href="@{/SignInPage}">Sign in</a></li>




            </ul>    
        </nav>
    </header>    
    </div>
   
    <div class="search-bar" style="left: 20px;">
        <input type="text">
        <div class="actions">
            <button><span class="material-icons">mic</span></button>
            <button><span class="material-icons">search</span></button>
        </div>
    </div>
    <div class="footer">
		<div class="links">
			<ul>
				<li><a href="#">Contact US</a></li>
				<li><a href="#">SUPPORT</a></li>
				<li><a href="#">PRESS</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">JOBS</a></li>
				<li><a href="#">PRIVACY</a></li>
				<li><a href="#">TERMS</a></li>
				<li><a href="#">DIRECTORY</a></li>
				<li><a href="#">PROFILES</a></li>
				<li><a href="#">HASHTAGS</a></li>
				<li><a href="#">LANGUAGE</a></li>
			</ul>
		</div>
		<div class="copyright">
			© 2023 TokenInspector
		</div>
	</div>
</div>
</body>
</html>