<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Login - Token Inspector</title>
	<link rel="stylesheet" href="css/LoginPageStyle.css">
</head>
<body>

<div class="wrapper" >
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="images/instagram.png" alt="instagram" style="width: 175px;">
			</div>

			<div th:if="${param.error}" class="alert alert-danger" role="alert">
				Unable to login. Check your username and password.
			</div>
			<div th:if="${param.logout}" class="alert alert-success" role="alert">
				You have been successfully logged out
			</div>
			
			<!-- form start -->
			<form th:action="@{/login}" method="POST" class="form" th:object="${loginForm}">
				<div class="input_field">
					<input type="text" placeholder="Phone number, username, or email" th:field="*{username}" class="input">
				</div>
				<div class="input_field">
					<input type="password" placeholder="Password" th:field="*{password}" class="input">
				</div>
				<div class="btn">
					<input type="submit"  value="Login" >
				</div>
			</form>
			<!-- form end -->
			
			<div class="or">
				<div class="line"></div>
				<p>OR</p>
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="fb">
					<img src="images/facebook.png" alt="facebook">
					<p>Log in with Facebook</p>
				</div>
				<div class="forgot">
					<a href="#">Forgot password?</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>Don't have an account? <a href="/register">Register</a></p>
		</div>
		<div class="apps">
			<p>Get the app.</p>
			<div class="icons">
				<a href="#"><img src="images/appstore.png" alt="appstore"></a>
				<a href="#"><img src="images/googleplay.png" alt="googleplay"></a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div th:insert="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>