<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration-Form</title>
    <link rel="stylesheet" th:href="@{reg-form-style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
     crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="HomePageNavigationBar">
            <header>
                <nav class="Navigation">      
                    <ul>
                        <li><a th:href="@{/Registrationform}" id="reg">Registration</a> </li>
                        <li> <a th:href="@{/home}">home</a> </li>
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a th:href="@{/car}">Vehicle Registration</a></li>
                        <li><a th:href="@{/SignInPage}">Sign in</a></li>
                    </ul>    
                </nav>
            </header>    
            </div>
    </nav>
    <h1 id="create"><b>Create An Account</b></h1><br>
    <div class="mainform">
        
    <div class="RegistrationForm">
        
    <form th:action="pdata" th:object="${loginkey}" method="post">
       
        <label for="Name">Name:&ensp;</label><br>
            <input type="text" th:field="${loginkey.name}" id="name" value ="firstname" placeholder="Enter Your Name"><br>
        
        <label for="Age">Age:&ensp;</label><br>
        <div th:if="${loginkey.age <= 18}">
            
        </div>
        <div>
            <input type="text" th:field="${loginkey.age}" id="Age" value="Age">
        </div>
        <br>

        <label for="Gender">Select Your Gender&ensp;</label><br>
        <label for="male">male</label>
        <input type="radio" value="gender" id="male" th:field="${loginkey.gender}"required>
        <label for="female">female</label>
        <input type="radio" value="gender" id="female" th:field="${loginkey.gender}"required>
        <label for="other">other</label>
        <input type="radio" value="gender" id="other" th:field="${loginkey.gender}"required>

        <br><label for="DateOfBirth">DateOfBirth</label><br>
        <input type="date" id="dateofbirth" value="DateOfBirth" th:field="${loginkey.dob}" required>
        
        <br><label for="Cellnumber">ContactNumber&ensp;</label><br>
        <select name="cellnumber" id="countrycode">
        <option value="+92" id="countrycode">+92</option>
        <option value="+971" id="countrycode">+971</option>
        <option value="+91" id="countrycode">+91</option>
        <option value="+96" id="countrycode">+96</option>
        <option value="+1" id="countrycode">+1</option></select>
        <input type="tel" th:field="${loginkey.contactnumber}" id="cellnumber" value="cellnumber" placeholder="3162045633" required>        
        
        <br><label for="email">email</label><br>
        <input type="email" th:field="${loginkey.email}" placeholder="example@gmail.com" id="email" value="email" required>
        
        <br><label for="password">Password</label><br>
        <input type="password" id="password" value="password" th:field="${loginkey.password}" placeholder="***********" required>
       
        <br><input type="submit" value="submit" class="submitbutton"><br>
    </form> 
    </div>
    </div>
    <div class="footer">
		<div class="links">
			<ul>
				<li><a href="#">Contact US</a></li>
				<li><a href="#">SUPPORT</a></li>
				<li><a href="#">PRESS</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">JOBS</a></li>
				<li><a href="#">PRIVACY</a></li>
				<li><a href="#">TERMS</a></li>
				<li><a href="#">DIRECTORY</a></li>
				<li><a href="#">PROFILES</a></li>
				<li><a href="#">HASHTAGS</a></li>
				<li><a href="#">LANGUAGE</a></li>
			</ul>
		</div>
		<div class="copyright">
			© 2023 TokenInspector
		</div>
	</div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> 
</body>
</html>